.blog-single {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 64px;
}


.photo-author-name {
    color: #2D2D2D;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 16px;
}

.body-dates {
    display: block;
    margin: 16px 0 32px 0;
}

.article-heading {
    font-size: 32px;
    font-weight: 700;
    color: #2D2D2D;
    width: 869px;
    margin-bottom: 32px;
}

.article-body {
    font-size: 18px;
    font-weight: 300;
    color: #2D2D2D;
    width: 869px;
}

.best-blog {
    align-self: flex-start;
}

.best-blogs-heading {
    margin-bottom: 26px;
}
