.item-image {
    margin-bottom: 24px;
}

span {
    color: #AEBEC9;
    
}

.dates {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
}

.time {
    margin-right: 5px;
}

.date {
    margin-right: 16px;
}

.sign {
    margin-right: 16px;
}

.item-heading {
    width: 346px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}