span {
    color: #AEBEC9;  
}

.dates {
    margin-bottom: 8px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.eye {
    align-self: center;
    margin-right: 5px;
}

.time {
    margin-right: 5px;
}

.date {
    margin-right: 16px;
}

.sign {
    margin-right: 16px;
}