.header-wrapper {
    background-color: #FAFAFC;
}

.header-menu-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.logo {
    padding:20px 0 20px;
}
