.best-blogs-img {
    margin-right: 22px;
}

.blogs-heading {
    font-size: 18px;
    font-weight: 700;
    width: 232px;
    margin-bottom: 8px;
}


.blogs-card {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 28px;
}

.heading-and-date {
    align-self: flex-end;
}